.container{
    min-height: 100vh;
    width:100vw;
    background: rgb(0,191,255);
    background: linear-gradient(137deg, rgba(0,191,255,1) 0%, rgba(186,78,205,1) 100%);
}
.banner{
    margin-top: 0;
    width:100%;
    height:10vh;
    background-color: rgba(57, 72, 98, 0);
    color: #ffffff;
}

.devices_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width:100%;
}
.connected{
    margin:16px;
    box-sizing: border-box;
    height:220px;
    width:330px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding:10px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

}


.item_logo{
    position: absolute;
    top:10px;
    left:20px;
    width:60px;
    height:60px;
}
.connected h2{
    padding:0;
    margin:0;
    padding-top:80px;
    font-weight:500;
    color: #1e1d1d;
    font-size: 1.6rem;
}

.connected h3{
    font-weight:400;
    padding:0;
    color: #494848;
    margin-top:10px;
    font-size: 1rem;
}

.connected h4{
    font-weight:200;
    padding:0;
    margin-top:5px;
    color: #737272;
    font-size: 0.8rem;
}

.status{
    position: absolute;
    top:10px;
    right:10px;
    height:30px;
    width:30px;
    border-radius: 70px;
    background-color: #2ab623;
}
.green{
    background-color: #2ab623;
}
.red{
    background-color: #d31616;
}
.blue{
    background-color: #1684d3;
}